@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-arabic), ui-sans-serif, system-ui, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d6d3d1 transparent;
}

body {
  font-family: var(--font-sans);
}
